GROUP MEETING

<div id="group_meeting">

  <%= @meeting %><br>
  <%= @group %><br>


  VOLTAR

  MENSAGENS

  ENVIAR MENSAGE

  <ul>
    <li v-for="message in messages">
      {{ message.text }}
    </li>
  </ul>

  <input type="text" v-model="message_input">
  <button v-on:click="sendMessage">ENVIAR</button>

</div>

<script>

var group_meeting = new Vue({
  el: '#group_meeting',
  data: {
    group_id: '',
    meeting_id: '',
    messages: [],
    last_message: '',
    message_input: '',
    errors: {}
  },
  ready: function() {
    //alert('ready group_meeting');
    //carregar as mensages que ja tem no grupo?
      //como receber o id?
  },
  methods: {
    sendMessage: function () {

      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          message: this.message_input,
        },
        url: '/group_meeting/send_message.json',
        success: function(res) {
          that.errors = {}
          //this.search_results = {}
          //this.search_results.push(res);
        
          that.messages.push(res);
          that.last_message = res.id;

          //last_message = res.id;
          alert('last: ' + res.id);
          //that.tags = res;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })

      //alert('GN: ' + this.group.name);

    }
  }
});

</script>