<h3>Grupo de Estudo  - <%= @group.name %></h3>

<div id="meetings" class="container">

  <div class="row">

    <div class="col-xs-6">

      <ul>
    <li v-for="meeting in meetings" >
      D: {{ meeting.date }}
      <a href="/group_meeting/{{ meeting.id }}"> <i class="fa fa-share" aria-hidden="true"></i> </a>
    </li>
  </ul>

    </div>

    <div class="col-xs-6">


       
      <div class="col-xs-8">
      <a v-show="not_add_meeting" v-on:click="showCreateMeeting" class="btn btn-primary btn-xl">Agendar</a>
      <div v-show="add_meeting">
       <label for="inicio">Inicio:</label> <input id="inicio" type="text" v-model="meeting.initial_date" class="datepicker" data-date-format="dd/mm/yyyy" data-provide="datepicker"><br>
        <label for="fim">Fim:</label> <input id="fim" type="text" v-model="meeting.end_date" class="datepicker" data-date-format="dd/mm/yyyy" data-provide="datepicker"><br>
        <label for="horario_inicio">Horario inicio:</label> <input id="horario_inicio" type="text" v-model="meeting.start_time" class="bootstrap-timepicker-component"><br>
        <label for="horario_fim">Horario fim:</label> <input id="horario_fim" type="text" v-model="meeting.end_time"><br>
        <label for="">Periodicidade:</label>
        <div v-show="add_meeting_week_day">
          
            <input type="checkbox" v-model="meeting.week_days[0]"> Dom
          
          
            <input type="checkbox" v-model="meeting.week_days[1]"> Seg
          
          
            <input type="checkbox" v-model="meeting.week_days[2]"> Ter
          
          
            <input type="checkbox" v-model="meeting.week_days[3]"> Qua
          
          
            <input type="checkbox" v-model="meeting.week_days[4]"> Qui
          
          
            <input type="checkbox" v-model="meeting.week_days[5]"> Sex
          
          
            <input type="checkbox" v-model="meeting.week_days[6]"> Sab
          
        </div>


        <input type="text" v-model="meeting.multiplier" v-show="add_meeting_periodicity">

        -
        <select v-model="meeting.periodicity" v-on:change="periodicityChange" class="form-control">
          <option value="dia">Dia</option>
          <option value="dia_semana">Dia da semana</option>
          <option value="semana">Semana</option>
          <option value="mes">Mes</option>
          <option value="ano">Ano</option>
        </select>

        <a v-on:click="createNewMeeting" class="btn btn-primary btn-xl">Criar</a>
        <a v-on:click="hideCreateMeeting" class="btn btn-primary btn-xl">Cancelar</a>
      </div>


      

    </div>

    </div>



  </div>

  

  <!--
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
    $(function() {
      // /$( ".timepicker" ).timepicker();
      $( ".datepicker" ).datepicker({
          dateFormat: 'dd/mm/yy',
          dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
          dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
          dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
          monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
          monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
          nextText: 'Próximo',
          prevText: 'Anterior'
      });
    });
  </script>
-->

</div>

<script>

var meetings = new Vue({
  el: '#meetings',
  data: {
    meetings: [],
    meeting:
    {
      initial_date: '12/12/2015',
      end_date: '20/01/2016',
      start_time: '12:12',
      end_time: '',
      multiplier: 1,
      periodicity: 1,
      week_days: [false, true, true, true, true, true, false],
      group_id: ''
    },
    add_meeting: false,
    not_add_meeting: true,
    add_meeting_week_day: false,
    add_meeting_periodicity: true
  },
  ready: function() {
    $('.datepicker').datepicker();
  },
  methods: {
    setGroup: function (group_id) {
      //alert(group_id);
      this.meeting.group_id = group_id;

      var that;
      that = this;
      $.ajax({
        method: 'POST',
        url: '/meetings/list.json',
        data: {
          id: this.meeting.group_id
        },
        success: function(res) {
          that.meetings = res;
        }
      });
    },
    showCreateMeeting: function () {
      this.add_meeting = true;
      this.not_add_meeting = false;
    },
    hideCreateMeeting: function () {
      this.add_meeting = false;
      this.not_add_meeting = true;
    },
    createNewMeeting: function () {
      var that = this;
      $.ajax({
        method: 'POST',
        data: this.meeting,
        url: '/meetings/generate.json',
        success: function(res) {
          that.errors = {}

          that.meetings = res;
          that.add_meeting = false;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })
    },
    periodicityChange: function()
    {
      //alert('change:' + this.meeting.periodicity);
      if (this.meeting.periodicity == 'dia_semana')
      {
        this.add_meeting_week_day = true;
        this.add_meeting_periodicity = false;
      }
      else
      {
        this.add_meeting_week_day = false;
        this.add_meeting_periodicity = true;
      }
    }
  }
});


  meetings.setGroup(<%= @group_id %>);
</script>
