<h1>GROUPS#index</h1>

<div id="groups">
  <ol>
    <li v-for="group in groups" track-by="$index">
       <a v-on:click="editGroup($index)">{{ group.name }}</a>
    </li>
  </ol>

  <div v-show="adding_group">
    Nome: <input type="text" v-model="group.name">
    Privado: <input type="checkbox" v-model="group.private">
    Administracao Restrita:<input type="checkbox" v-model="group.administrable">
    <button v-on:click="createGroup">NOVO GRUPO</button>
  </div>

  <button v-on:click="addGroup">CRIAR GRUPO</button>

</div>

<%= javascript_include_tag 'groups' %>


<script>

<% if @group_id %>
groups.setCurrentGroup(<%= @group_id %>);
<% end %>

</script>

