<h1>Grupos de Estudo</h1>

<div id="groups">


  <h2>{{ group.name }}</h2>


  <div class="col-xs-3">

    <ol class="list-group">
      <li class="list-group-item" v-for="group in groups" track-by="$index">
         <a v-on:click="showGroup($index)">{{ group.name }}</a>
      </li>
    </ol>
  </div>
  <div class="col-xs-9">

    <div v-show="show_group_form">

      Nome: <input type="text" v-model="group.name">
      Privado: <input type="checkbox" v-model="group.private">
      Administracao Restrita:<input type="checkbox" v-model="group.administrable">
      <a v-on:click="createGroup" class="btn btn-primary btn-xl">SALVAR</a>
      <a v-on:click="hideGroupForm" class="btn btn-primary btn-xl">CANCELAR</a>

    </div>



    <div v-show="group.id">


      Instituicoes:
      <ul>
        <li v-for="institute in current_institutes" class="list-group-item list_text">
          {{ institute.name }}
        </li>
      </ul>


      <div v-show="adding_institute">

        <div v-show="not_creating_insitute" class="div_inline">
          Associar instituicao: <input type="text" v-model="institute_input" v-on:keyup="searchInstitue"></input>

          <select v-model="selected_institute" data-enumeration="true" class="form-control" style="width: 200px; display: inline">
            <option v-for="institute in institutes" value="{{ institute.id }}">
              {{ institute.name }}
            </option>
          </select>

          <a v-on:click="addInstitue" class="btn btn-primary btn-xl">ADICIONAR</a>
          <a v-on:click="hideAddInstitue" class="btn btn-primary btn-xl">CANCELAR</a>
        </div>


        <div v-show="creating_insitute">
          Nova instituicao: <input type="text" v-model="institute_create_input" v-on:change="searchInstitue"></input>
          <a v-show="creating_insitute" v-on:click="createInstitue" class="btn btn-primary btn-xl">CRIAR</a>
          <a v-show="creating_insitute" v-on:click="hideCreateInstitue" class="btn btn-primary btn-xl">CANCELAR</a>
        </div>

        <a v-show="not_creating_insitute" v-on:click="showCreateInstitue" class="btn btn-primary btn-xl">CRIAR INSTITUICAO</a>


      </div>
      <a v-show="not_adding_institute" v-on:click="showAddInstitue" class="btn btn-primary btn-xl">ADICIONAR INSTITUICAO</a>

      </div>




    <div v-show="group.id">
      <a v-on:click="editGroup" class="btn btn-primary btn-xl">EDITAR</a>
    </div>

    <a v-show="not_creating_group" v-on:click="addGroup" class="btn btn-primary btn-xl">NOVO GRUPO</a>

  </div>


  <div v-show="group.id">
    <a href="/meetings/{{ group.id }}" class="btn btn-primary btn-xl">AGENDA</a>
  </div>

</div>



<script>

var groups = new Vue({
  el: '#groups',
  data: {
    groups: [],
    institutes: [],
    selected_institute: '',
    group: {
      id: '',
      name: '',
      private: false,
      administrable: false,
      institutes: []
    },
    current_institutes: [],
    errors: {},
    institute_input: '',
    institute_create_input: '',

    show_group_form: false,
    not_creating_group: true,
    adding_group: false,
    adding_institute: false,
    not_adding_institute: true,

    creating_insitute: false,
    not_creating_insitute: true,
  },
  ready: function() {
    //alert('ready groups');
    var that = this;
    $.ajax({
      method: 'POST',
      url: '/groups/list.json',
      success: function(res) {
        //alert(res);
        that.errors = {}
        //that.groups = []
        //that.groups.push(res);
        that.groups = res;
      },
      error: function(res) {
        that.errors = res.responseJSON.errors
      }
    })

  },
  methods: {
    createGroup: function () {
      //alert('GN: ' + this.group.name + ' ' + this.group.private + ' ' + this.group.administrable);
      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          data: this.group,
        },
        url: '/groups/update.json',
        success: function(res) {
          that.errors = {}
          //that.group = {}
          that.show_group_form = false;
          that.not_creating_group = true;

          if (res)
          {
            that.groups.push(res);
            that.group = res;
          }

        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })

    },
    addGroup: function()
    {
      this.cleanForm();
      this.show_group_form = true;
      this.not_creating_group = false;
    },
    cleanForm: function()
    {
      this.group = {
        id: '',
        name: '',
        private: false,
        administrable: false,
        institutes: []
      };
      /*this.group.id = '';
      this.group.name = '';
      this.group.private = false;
      this.group.administrable = false;*/
    },
    hideGroupForm: function()
    {
      this.show_group_form = false;
      this.not_creating_group = true;
    },
    showAddInstitue: function()
    {
      this.adding_institute = true;
      this.not_adding_institute = false;
    },
    hideAddInstitue: function()
    {
      this.adding_institute = false;
      this.not_adding_institute = true;
      this.institute_input = '';
    },
    editGroup: function()
    {
      this.show_group_form = true;
    },
    hideCreateInstitue: function()
    {
      this.creating_insitute = false;
      this.not_creating_insitute = true;
    },
    showCreateInstitue: function()
    {
      this.creating_insitute = true;
      this.not_creating_insitute = false;
    },
    createInstitue: function()
    {
      //alert('createInstitue');

      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          id: this.group.id,
          input: this.institute_create_input,
        },
        url: '/groups/create_institute.json',
        success: function(res) {
          that.errors = {}
          //that.group = {}
          //alert(res);
          //em geral nao vai retornar nada!

          that.creating_insitute = false;
          that.not_creating_insitute = true;
          that.institute_create_input = '';
          that.adding_institute = false;
          that.not_adding_institute = true;
          that.institute_input = '';
/*
          if (res)
          {
            alert(res);
            //that.institutes = res;
          }
          */
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })
    },
    addInstitue: function()
    {
      //alert('addInstitue: ' + this.selected_institute);

      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          id: this.group.id,
          tag_id: this.selected_institute,
        },
        url: '/groups/associate_institute.json',
        success: function(res) {
          that.errors = {}
          //that.group = {}
          //alert(res);
          if (res)
          {
            //alert(res);
            //that.institutes = res;
          }
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })

    },
    searchInstitue: function()
    {
      if (this.institute_input.length > 2)
      {
        var that = this;
        $.ajax({
          method: 'POST',
          data: {
            input: this.institute_input,
          },
          url: '/tags/list_institutes.json',
          success: function(res) {
            that.errors = {}
            //that.group = {}
            //alert(res);
            if (res)
            {
              //alert(res);
              that.institutes = res;

              that.loadInstitutes();
            }
          },
          error: function(res) {
            that.errors = res.responseJSON.errors
          }
        })
      }
    },
    showGroup: function (index) {
      //alert('GN: ' + index + ' groups ' + this.groups[index].name + ' ID ' + this.groups[index].id );
      this.show_group_form = false;
      //this.group = this.groups[index];

      this.setCurrentGroup(this.groups[index].id);

      //precisa recuperar

      // var that = this;
      // $.ajax({
      //   method: 'POST',
      //   data: {
      //     data: this.group,
      //   },
      //   url: '/groups/update.json',
      //   success: function(res) {
      //     that.errors = {}
      //     //that.group = {}
      //     that.groups.push(res);
      //     that.adding_group = false;
      //   },
      //   error: function(res) {
      //     that.errors = res.responseJSON.errors
      //   }
      // })
    },
    // clearForm: function (index) {
    //   this.group = []
    // },

    setCurrentGroup: function(group_id) {
      this.group.id = group_id;
      //this.group.name = 'TESTE';

      var that = this;
      $.ajax({
        method: 'POST',
        data: {
           id: group_id,
         },
        url: '/groups/show.json',
        success: function(res) {
          that.errors = {}
          //that.group = {}
          //alert(res);
          that.group = res;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })

      $.ajax({
        method: 'POST',
        data: {
           id: group_id,
         },
        url: '/groups/institutes.json',
        success: function(res) {
          that.errors = {}
          //that.group = {}
          //alert(res[0].name);
          //that.group.institutes = res;
          that.current_institutes = [];
          that.current_institutes = res;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })


    },
    loadInstitutes: function()
    {
      var that = this;
      $.ajax({
        method: 'POST',
        data: {
           id: this.group.id,
         },
        url: '/groups/institutes.json',
        success: function(res) {
          that.errors = {}
          //that.group = {}
          //alert(res[0].name);
          //that.group.institutes = res;
          that.current_institutes = [];
          that.current_institutes = res;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })

    }
  }
});


<% if @group_id %>
groups.setCurrentGroup(<%= @group_id %>);
<% end %>

</script>
