

<div id="landing_page" class="header-content-inner">

<h1>A forma mais eficiente de estudar</h1>


        <input type="text" v-on:keyup.enter="searchGroups" v-model="search_input" style="margin: 25px 0 0 0; width: 50%;">
        <br>
        <a v-on:click="searchGroups" class="btn btn-primary btn-xl" style="margin: 25px 0 0 0;" >Encontre seu grupo</a>

  <ul>
    <li v-for="result in search_results">
      <a href="groups/{{ result.id }}">{{ result.name }}</a>
    </li>
  </ul>


  <ul>
    <li v-for="tag in tags">
      {{ tag.name }}
    </li>
  </ul>

</div>

<script>
var landing_page = new Vue({
  el: '#landing_page',
  data: {
    tags: [],
    tag: {
      name: ''
    },
    search_results: [],
    search_input: '',
    errors: {}
  },
  ready: function() {
    /*
    var that;
    that = this;
    $.ajax({
      url: '/tags.json',
      success: function(res) {
        that.tags = res;
      }
    });
  */
  },
  methods: {
    searchGroups: function () {
      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          search: this.search_input,
        },
        url: '/tags/search.json',
        success: function(res) {
          that.errors = {}
          //this.search_results = {}
          //this.search_results.push(res);
          that.search_results = []
          that.search_results = res;
          //that.tags = res;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })
    },
    /*
    searchGroups: function () {
      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          search: this.search_input,
        },
        url: '/tags/search.json',
        success: function(res) {
          that.errors = {}
          that.search_results = []
          if (res)
            that.search_results.push(res);
          //that.tags = []
          //that.tags.push(res);
          //that.tags = res;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      });
    }
    */


    searchTags: function () {
      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          search: this.search_input,
        },
        url: '/tags/search.json',
        success: function(res) {
          that.errors = {}
          //this.search_results = {}
          //this.search_results.push(res);
          that.tags = []
          that.tags.push(res);
          //that.tags = res;
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })



      /*
      var that = this;
      $.ajax({
        method: 'POST',
        data: {
          search: value,
        },
        url: '/tags/search.json',
        success: function(res) {
          that.errors = {}
          that.employee = {}
          that.employees.push(res);
        },
        error: function(res) {
          that.errors = res.responseJSON.errors
        }
      })
      */
    }
  }
});




</script>
