<h1>Group2Study</h1>

<ul>
  <li>Cadastro</li>
  <li>Busca</li>


  <div id="tags">
    <tr v-for="tag in tags">
      <td>{{ tag.name }}</td>
    </tr>
  </div>

  <% if user_signed_in? %>
    <li>USUARIO LOGADO
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
  % else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>

</ul>
